.fotografia-hero img {
    width: 100%
}

.fotografia-titulo {
    grid-column: span 5;
    margin-top: var(--spacer-2xl);
    margin-bottom: var(--spacer-2xl);
    text-align: center; 
}

.fotografia-texto {
    grid-column: span 7;
    margin-top: var(--spacer-2xl);
    margin-bottom: var(--spacer-2xl);
}

.fotografia-texto p:last-child {
    margin-bottom: 0;
}

.fotografia-contenidos .proyecto {
    margin-bottom: var(--spacer-xl);
}

.fotografia-contenidos .full-width {
    grid-column: 1 / -1;
}

.fotografia-contenidos .left {
    grid-column: span 6;
}

.fotografia-contenidos .right {
    grid-column: span 6;
    grid-column-end: -1;
}