---
layout: layouts/full.njk
title: Fotografía
eleventyNavigation:
  key: fotografia
  title: Fotografía
  order: 3
---

<div class="fotografia-hero">
  {% set elemento = {"imagen": "foto-1.jpg"} %}
  {% include 'components/project.njk' %}
</div>

<div class="container grid fotografia-contenidos">
  <div class="fotografia-titulo">
    <h1 class="text-headline font-2">
      Fotografía
    </h1>
  </div>

  <div class="fotografia-texto">
    <p>
      Dolor veniam mollit enim dolor amet reprehenderit dolore et fugiat aliqua adipisicing et. Exercitation enim excepteur enim cupidatat. Cupidatat laboris aliquip ad elit aliqua. Duis sit laboris est qui eiusmod nulla excepteur culpa sint velit incididunt laboris ad.kadfhoasdhfoishdfiafpdhfjsfgj sfhidhohgfóidhóihfpoijfgoieq ugopuierjfgoherfóihgoprgó or wer ortó rhoiwe t reó eroth erqgp eqrg.
    </p>
  </div>
  
  {% for elemento in fotos %}
    {% include 'components/project.njk' %}
  {% endfor %}
</div>
